header,
footer {
	max-width: 1200px;
	margin: auto;
}

main {
	position: relative;
	max-width: 1080px;
	margin: auto;
	height: auto;
	min-height: 80vh;
}

a {
	text-decoration: none; /* 링크에 밑줄 제거 */
	color: inherit; /* 링크의 텍스트 색상을 부모 요소의 색상으로 상속 */
	cursor: pointer; /* 커서를 포인터로 변경하여 링크임을 나타냄 */

	&:hover {
		text-decoration: underline;
	}
}

// input form styling
.input-wrapper {
	position: relative;
}

.form-input {
	font-size: 15px;
	color: #222222;
	width: 300px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: relative;
	background: none;
	z-index: 5;
}

.form-label {
	position: absolute;
	color: #aaa;
	left: 10px;
	font-size: 20px;
	bottom: 8px;
	transition: all 0.2s;
}

.form-input::placeholder {
	color: #aaaaaa;
}
.form-input:focus {
	outline: none;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown):valid ~ .form-label {
	font-size: 16px;
	bottom: 40px;
	color: #666;
	font-weight: bold;
}

// basic-button
.custom-btn {
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	border: 2px solid black;
	border-radius: 0.6em;
	color: black;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;

	&:hover,
	&:focus {
		color: #fff;
		outline: 0;
	}

	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	&:hover {
		box-shadow: 0 0 40px 40px black inset;
	}
}

// mini-button
.mini-btn {
	color: white;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom-color: rgba(0, 0, 0, 0.34);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	background-color: #9abf7f;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset, 0 2px 0 -1px rgba(0, 0, 0, 0.13),
		0 3px 0 -1px rgba(0, 0, 0, 0.08), 0 3px 13px -1px rgba(0, 0, 0, 0.21);
	padding: 4px 12px;
	font-size: 1rem;

	box-shadow: 0px 4px 0px #87a86f;

	&:active {
		box-shadow: 0 0 #87a86f;
		background-color: #87a86f;
	}
}
